services:

  postgres:
    image: postgres:16
    container_name: lab7_postgres

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "${POSTGRES_PORT}:5432"

    volumes:
      # Persistencia REAL de PostgreSQL
      - postgres_data:/var/lib/postgresql/data

      # Scripts automáticos de inicialización
      - ./postgres-init:/docker-entrypoint-initdb.d

      # Acceso a archivos SQL
      - ./data:/tmp/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - lab7_net

  metabase:
    image: metabase/metabase:v0.49.0
    platform: linux/amd64
    container_name: lab7_metabase

    ports:
      - "${METABASE_PORT}:3000"

    depends_on:
      postgres:
        condition: service_healthy

    environment:
      JAVA_TIMEZONE: ${JAVA_TIMEZONE}
      MB_DB_FILE: /metabase-data/metabase.db

    volumes:
      - ./metabase-data:/metabase-data

    networks:
      - lab7_net

networks:
  lab7_net:
    driver: bridge

volumes:
  postgres_data: